* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Condensed , Courier, monospace, sans-serif;
}

:root {
  --main-color: #2f5416;
  --nav-color: #2c3d22;
  --border-color: #2b2e29;
  --btn-color: #83854e;
  --title-color: #e6e6d8;
  --accent-color: #baf846;
  --bookCover-color: #514220;
  --bookBorder-color: #39311d;
}

body {
  display: flex;
  height: 100vh;
}

/*##########  WARNING WHEN WIDTH < 500PX ############*/
.resizing-warning {
  display: none;
  font-size: 2rem;
  color: #ff0000;
}

/*########## MAIN PANELS ############*/
.left-panel {
  width: 30%;
  height: 100vh;
  background-color: var(--main-color);
  border-right: 6px solid var(--border-color);
}

.left-panel .top-content {
  display: flex;
  margin-bottom: 25px;
}

.left-panel .top-content p {
  padding: 20px;
  font-size: 1.3rem;
  color: var(--title-color)
}

.right-panel {
  width: 70%;
  height: 100vh;
  background: var(--main-color);
  overflow: auto;
}

.navbar {
  border-bottom: 6px solid var(--border-color);
  width: 100%;
  height: 30%;
  background-color: var(--nav-color);
  padding: 10px;
}

.navbar h1 {
  font-size: 3rem;
  color: var(--title-color);
  border-bottom: 1px solid var(--title-color);
  width: auto;
  padding-bottom: 10px;
}

/*########## NEW BOOK BUTTON ############*/
#add-btn {
  background-color: var(--btn-color);
  padding: 12px 30px;
  color: var(--title-color);
  font-weight: bold;
  border: none;
  font-size: 1.5rem;
  box-shadow: 1px 1px 3px #000;
}

button:hover {
  cursor: pointer;
  opacity: .9;
}

button:active {
  opacity: .7;
}

/*########## NEW BOOK FORM ############*/
.my-form {
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: var(--nav-color);
  margin: auto;
  color: var(--title-color);
  box-shadow: 0 0 4px 1px #000;
}

.input-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-container input {
  padding: 5px;
  font-size: 1.2rem;
  transition: all .15s;
  border: none;
}

.input-container input:focus {
  outline: none;
  box-shadow: inset 0 0 0px 2px var(--btn-color);
}

.input-container label {
  font-size: 1.2rem;
}

.read-container label {
  margin-right: 10px;
}

.hidden {
  display: none;
}

/*########## MAJORITY OF THE FORM BUTTONS ############*/
#save-btn,
#discard-btn,
#close-dialog,
#return-dialog,
#btn-one,
#btn-two {
  padding: 2px 20px;
  font-size: 1.2rem;
  border: none;
  background-color: var(--btn-color);
  color: #fff;
}

#save-btn {
  border-right: 3px solid var(--main-color);
}

input, h3 {
  margin-bottom: 15px;
}

h3 {
  color: var(--title-color);
  font-size: 1.4rem;
}

/*########## TRIGGERED FORM TO SELECT DATES ############*/
.addon-form {
  background-color: var(--btn-color);
  margin-top: 6px;
  margin-bottom: 12px;
  width: 100%;
  padding: 10px;
}

.btn-container,
.read-container,
h3 {
  margin: auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*########## DIALOG CONTAINERS ############*/
.dialog-style {
  margin-top: 180px;
  margin-left: 30px;
  width: 250px;
  padding: 20px;
  font-size: 2rem;
  background-color: var(--main-color);
  color: var(--title-color);
}

.dialog-style-two {
  margin-top: 180px;
  margin-left: 30px;
  width: 400px;
  padding: 20px;
  font-size: 2rem;
  background-color: var(--main-color);
  color: var(--title-color);
}

.dialog-style-two p {
  font-size: 1rem;
  margin-bottom: 6px;
}

.dialog-style-two span {
  font-size: 1.1rem;
  color: var(--accent-color);
}

#discard-dialog button {
  margin-right: 10px;
}

/*########## BOOK CARDS ############*/
.cards-container{
  padding: 10px;
}

.book-card {
  position: relative;
  background-color: var(--bookCover-color);
  padding: 10px;
  box-shadow: 8px 8px 0px 1px var(--title-color);
  width: 230px;
  height: 180px;
  border-radius: 8px;
  border: 4px solid var(--bookBorder-color);  
  color: var(--title-color);
}

.book-card::after {
 
  width: 230px;
  height: 180px;
  background-color: var(--bookCover-color);
  
}

.book-card span {
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--accent-color);
}

/*########## MEDIA QUERIES ############*/
@media (max-width: 1000px) {
  .left-panel {
    width: 50%;
    height: 850px;
  } 

  .right-panel {
    width: 50%;
    height: 850px;
  }
}

@media (max-width: 770px) {
  .navbar h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 740px) {
  .btn-container {
    flex-direction: column;
  }

  #save-btn {
    margin-bottom: 6px;
    border: none;
  }
}

@media (max-width: 596px) {
  .my-form input {
    width: 50%;
  }
}

@media (max-width: 499px) {
  
  .resizing-warning{
    display: block;
    text-align: center;
  }

  .my-form {
    display: none;
  }

  .left-panel {
    display: none;
  }

  .right-panel {
    display: none;
  }

  body {
    display: flex;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 144px) {
  .resizing-warning{
    display: none;
  }
}