* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier, monospace;
}

body {
  background: radial-gradient(
    #494c69,
    #08062d
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-container {
  margin: 100px auto 100px auto;
  border: none;
  box-shadow: 0 0 4px 2px #08062d;
  border-radius: 10px;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

hr {  
  width: 70%; 
  margin: 20px auto 20px auto;
}

.info-bar {
  display: flex;
  justify-content: space-between;
}

.point {
  width: 6%;
  height: 40px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #b3b5c6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.buttons {
  padding-inline: 25px;
  font-weight: bold;
  background-color: #b0c31e;
  border: none;
  font-size: 1.6rem;
  margin: 0;
}

#play-again-btn {
  border-radius: 10px;
  padding: 25px;
}

#restart-btn {
  border-top-left-radius: 10px;
  border-right: .5rem solid #b3b5c6;
}

#info-btn {
  border-bottom-right-radius: 10px;
}

.buttons:hover,
.submit-button:hover,
.cell-button:hover {
  cursor: pointer;
  opacity: .9;
}

.buttons:active,
.submit-button:active,
.cell-button:active {
  opacity: .7;
}

.board-panel {
  display: flex;
  justify-content: space-between;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
}

.labels {
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  max-width: 227px;
  text-align: center;
}

.inputs {
  padding: 10px;
  font-size: 1rem;
  transition: all .15s ease; 
  font-weight: bold;
}

.inputs:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #b0c31e;
}

.board {
  background-color: #000;
  width: 600px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 160px);
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.winner {
  border-radius: 6px;
  background-color: #000;
  box-shadow: 0px 0px 14px 1px #494c69;
  padding: 30px;
  border: none;
  position: relative;
  left: 34%;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.winner h1 > strong {
  margin-right: 20px;
}

.info-card {
  background-color: #000;
  position: flex;
  color: #fff;
  flex-direction: column;
  width: 50%;
  left: 24%;
  top: 20%;
}

.info-card button {
  width: 100%;
}

.hidden {
  display: none;
}

.player-panel {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.submit-button {
  font-size: 1.195rem;
  padding: 9.5px;
  background-color: #b0c31e;
  border: none;
  margin-bottom: 0px;
}

#submit-name-one {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#submit-name-two {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.cell-button {
  background-color: #b0c31e;
  border: none;
  font-size: 5rem;
  border-radius: 6px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.stunt {
  color: #b0c31e;
}

.players-symbol {
  width: 100vw;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.players-symbol p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ff0000;
  font-size: 5rem;
  top: 24%;
  height: 100%;
  position: relative;
}

span {
  color: #ff0000;
  font-size: 1.5rem;
}

strong {
  background-color: #b0c31e;
  color: #000;
  font-size: 1.3rem;
  padding-inline: 5px;
  border-radius: 6px;
}

.nav-btn-container {
  display: flex;
}

@media (max-width: 864px) {
  .player-panel {
    flex-direction: column;
  }

  .board {
    grid-template-columns: repeat(3, 120px);
  }

  .point {
    display: none;
  }

  .info-bar {
    justify-content: center;
  }
}

@media (max-width: 610px) {
  .nav-btn-container {
    display: flex;
    flex-direction: column;
  }
  
  #restart-btn {
    border-right: none;
    border-bottom: .5rem solid #b3b5c6;
  }

  .board {
    grid-template-columns: repeat(3, 75px);
    height: 330px;
    padding: 10px;
  }

  .winner {
    left: 14%;
    top: 40%;
  }

  #tie {
    top: 0;
    left: 44%;
  }
}