* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  height: 100vh;
  position: relative;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #707070;
  padding: 12px;
}

.homepage_container {
  border-radius: 4px;
  background-color: #1e2350;
  box-shadow: 0 0 10px 10px;
}

.footerfixed {
  width: 100%;
  position: fixed;
  bottom: 0;
}