@media (max-width: 431px) and (max-height: 933px) {
  
  .nav-bar {
    flex-direction: column;
    height: 200px;
  }

  .nav-bar:last-child {
    background-color: green;
  }

  .player-inputs {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .player-inputs .wrapper {
    flex-direction: column;
  }

  .player-inputs .wrapper > label {
    margin-left: 42px;
  }

  #player-bot {
    margin-left: 50px;
  }

  .main {
    display: block;
    flex-direction: column;
  }
}